<!-- badge_index.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_header_container %}{% endblock page_header_container %}

{% block content_container %}
<!-- ROW 1 -->
	<div class="row block-center">
		<div class="col-md-12 text-center">
			<div class="lead text-center">CLT Badges</div>
		</div>

		<div class="col-md-12">



			{% for i in issuer_list %}
				<div class="row">

					<div class="col-md-3">
						<h2>Issuing Organization</h2>
						<p><span class="lead">{{ i.issuer.name }}</span></p>
						<p>
							<a class="btn btn-xs btn-default" href="{% url 'edit_issuer' i.issuer.id %}">Edit</a>
							<!-- <a class="btn btn-xs btn-danger" href="">Delete</a> -->
							<a class="btn btn-xs btn-success" href="{% url 'create_badge_by_issuer' issuer=i.issuer.id %}">+ Badge</a>
						</p>
						<p>
							<ul class="list-group">
								<li class="list-group-item list-group-item-success"><img width="120px" src="{{ i.issuer.image }}"/></li>
								<li class="list-group-item list-group-item-success"><strong>description: </strong>{{ i.issuer.desc }} </li>
								<li class="list-group-item list-group-item-success"><strong>url: </strong><a href="{{ i.issuer.url }}" target="_blank">{{ i.issuer.url }}</a></li>
								<li class="list-group-item list-group-item-success"><strong>document root: </strong>{{ i.issuer.doc_path }} </li>
								<li class="list-group-item list-group-item-success"><strong>contact: </strong>{{ i.issuer.contact }}</li>
								<li class="list-group-item list-group-item-success"><strong>assertion: </strong><a href="{{ i.issuer.jsonfile }}" target="_blank">{{ i.issuer.jsonfile }}</a></li>
                                <li class="list-group-item list-group-item-success"><strong>revoked list assertion url: </strong><a href="{{ i.issuer.getRevokeAssertionUrl }}" target="_blank">{{ i.issuer.getRevokeAssertionUrl }}</a></li>
							</ul>
                        </p>

					</div>

					<div class="col-md-9">
						<h2>Badges</h2>
                        <div class="row"><div class="col-md-12">
                            {% for i in year_list %}<a href="#year{{i}}" class="btn btn-sm btn-default">{{ i }}</a>{% endfor %}
                        </div></div>

                        {% for j in i.badges %}
                            <div class="row">
                                {% ifchanged j.created|date:"Y" %}
                                    <div class="col-md-12">
                                        <h2 id="year{{j.created|date:"Y"}}" style="background-color: #E6E6E6">{{j.created|date:"Y"}}</h2>
                                    </div>
                                {% endifchanged %}

                                <div class="col-md-12">
                                    <p class="lead">
                                        <img width="80px" src="{{ j.image }}"/>
                                        <a class="btn btn-xs btn-warning" data-toggle="collapse" href="#badgeinfo_{{ j.id }}" aria-expanded="false" aria-controls="badgeinfo_{{ j.id }}">More <i class="fa fa-caret-right"></i></a>
                                        <a class="btn btn-xs btn-primary" href="{% url 'edit_badge' j.id %}">Edit</a>

                                        <a class="btn btn-xs btn-primary" href="{% url 'list_awards_by_badge' j.id %}">Award List</a>

                                        <a class="btn btn-xs btn-success" href="{% url 'create_award_by_badge' badge=j.id %}">
                                            <i class="fa fa-trophy"></i> <i class="fa fa-arrow-right"></i> <i class="fa fa-user"></i>
                                            Award It!
                                        </a>

                                        {{ j.name }}

                                        <!-- <a class="btn btn-xs btn-danger" href="">Delete</a> --></p>
                                    <p>
                                        <ul id="badgeinfo_{{ j.id }}" class="list-group collapse">
                                            <li class="list-group-item list-group-item-primary"><strong>description:</strong> {{ j.description }}</li>
                                            <li class="list-group-item list-group-item-primary"><strong>criteria: </strong> <a href="{{ j.criteria }}" target="_blank">{{ j.criteria }}</a></li>
                                            <li class="list-group-item list-group-item-primary"><strong>created: </strong> {{ j.created }}</li>
                                            <li class="list-group-item list-group-item-primary"><strong>assertion: </strong><a href="{{ j.jsonfile }}" target="_blank">{{ j.jsonfile }}</a></li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                        {% endfor %}


					</div>
				</div>

			{% endfor %}

		</div>

	</div>

{% endblock content_container %}